@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
html {
  scroll-behavior: smooth;
}

  @keyframes drawAndFill {
  0% {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    fill-opacity: 0;
  }
  60% {
    stroke-dashoffset: 0;
    fill-opacity: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.animate-draw-and-fill {
  animation: drawAndFill 3.5s ease-in-out forwards;
}
}